extends ./list.jade

block content
  p.lead A simple Todo List App.
  form.form-horizontal#new_todo(action="/todos/#{todo.id}?_method=PUT", method="POST")
    .form-group
      label.col-sm-2.control-label(for="title") Title
      .col-sm-10
        input.form-control#title(name="title", type="text", value="#{todo.title}")
    .form-group
      label.col-sm-2.control-label(for="description") Description
      .col-sm-10
        textarea.form-control#description(name="description", rows="5", type="text")!= todo.description
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-primary#update_todo(type="submit") Save