/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(232, 238, 247);
}

body, .btn {
  letter-spacing: .03em;
}

h1 {
  font-family: 'Bree Serif', serif;
  font-size: 3.5em;
}

a, a:hover {
  color: #333;
}

p.lead.text-muted {
  margin-left: 40px;
}

.edit {
  font-style: italic;
  color: #777;
  margin-left: 20px;
}

.title {
  font-weight: bold;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.page-header {
  background-image: url('/images/seal.png');
  background-size: 98px;
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-left: 105px;
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.x-box {
  padding: 10px 10px 10px 0;
}

.badge:hover {
  background-color: #999;
}

ul {
  list-style-type: none;
}

li {
  padding-left: 10px;
}

#new_todo {
  margin-left: 35px;
}

input[type="checkbox"] {
  margin-top: 7px;
}

span.description {
  word-break: break-all;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.container .text-muted {
  margin: 20px 0;
}